.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fdfdfd;
}

.bannerCard {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #eef0f4;
  border-radius: 5px;  
  overflow: hidden;    
  display: flex;
  justify-content: center;
  align-items: center;
  color: #393f59;
  margin-top: 20px;
}

.bannerCard img {
  width: 100%;
  height: auto;   
  display: block;
}

.container_wrap {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.programContent {
  padding: 1.5rem;
} 

.programCard {
  flex: 1;
  min-width: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.programTable {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  padding: 68px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 230px;
  border: 1px solid #eef0f4;
}

.tierIcon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tierImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.userInfo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userMajor {
  font-size: 16px;
  color: #555c7a;
  margin: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}

.userName {
  font-size: 20px;
  color: #393f59;
  margin: 4px 0 0 0;
  font-family: 'Pretendard-SemiBold', sans-serif;
}

.scoreLink {
  font-size: 16px;
  color: #393f59;
  text-decoration: none;
  border: none;
  background: none;
  padding: 7px 10px;
  border-bottom: 1.5px solid #393f59;
  cursor: pointer;
  font-family: 'Pretendard-Regular', sans-serif;
  transition: color 0.2s, border-color 0.2s;
}

.scoreLink:hover {
  color: #5a638a;
  border-color: #5a638a;
}

.loadingWrapper {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 120px;           
  font-size: 16px;
  color: #393f59;
}

/* 바로가기 */
.linkSection {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
  flex-wrap: nowrap;       
}

.linkCard {
  flex: 0 0 auto;
  width: 450px;                     
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #393f59;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 40px;
  margin-top: 20px;
}

.linkCard img{
  width: 100%;
  border-radius: 5px;
  height: auto;   
  display: block;
}

.linkCard:hover {
  transform: translateY(-5px);
}

