.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh;        
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.logoBox {
  text-align: center;
  margin-bottom: 30px;
}

.logoImage {
  width: 280px; 
  height: auto;
  object-fit: contain;
  margin-bottom: 8px;
}

.contentArea {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.loginBox {
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
}

.loginBox h2 {
  text-align: center;
  margin-bottom: 20px;
}

.loginBox input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rowButton {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.rowButton button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rowButton button[type="submit"] {
  background-color: #393F59;
  color: white;
}

.rowButton button[type="button"] {
  background-color: white;
  color: #1f2c59;
  border: 1px solid #1f2c59;
}

.infoBox {
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  width: 330px;
  font-size: 13px;
}

.infoBox h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.infoBox ul {
  padding-left: 20px;
  margin-bottom: 12px;
}

.infoBox li {
  font-size: 14px;
  margin-bottom: 3px;
  color: #484848;
}

.infoButton {
  width: 100%;
  padding: 10px;
  background-color: #393F59;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.footer {
  margin-top: 50px;
  font-size: 12px;
  color: #888;
}

.findLinks {
  margin-top: 15px;
  text-align: center;
  color: #706f6f;
  font-size: 14px;
  align-items: center;
}

.findLinks :hover {
  color: #363636;
}

.findLinks span {
  cursor: pointer;
}

.findLinks span:hover {
  text-decoration: underline;
}


.separator {
  margin: 0 10px;
  color: #ccc;
  cursor: default !important; /* 기본 요소 */
}

.separator:hover {
  color: #ccc !important; 
  text-decoration: none !important;
}

