p {
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.menuContent {
  display: flex;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.25);
}

.menuTitle {
  padding: 10px 20px;
  color: #393F59;
  text-align: center;
  font-family: 'Pretendard-ExtraBold', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0;
}

.menuBar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.menuBar p {
  margin: 0;
}

.menuNoBtn {
  font-family: 'Pretendard-SemiBold', sans-serif;
  cursor: pointer;
  display: flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #393F59;
  font-size: 16px;
}

.menuClickBtn {
  font-family: 'Pretendard-SemiBold', sans-serif;
  cursor: pointer;
  display: flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #393F59;
  color: #FDFDFD;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.menuNoBtn:hover {
  font-family: 'Pretendard-SemiBold', sans-serif;
  display: flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #393F59;
  color: #FDFDFD;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease;
}

.body {
  display: flex;
  padding: 60px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.25);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FDFDFD;
}

.content {
  display: flex;
  padding: 70px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.content2 {
  display: flex;
  padding: 70px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.titleText {
  color: #000;
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  font-size: 14px;
  line-height: 24px;
}

.boldText {
  font-family: 'Pretendard-SemiBold', sans-serif;
}

.table,
.table td {
  border: 1px solid #B9B9B9;
  border-collapse: collapse;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
}

.table1,
.table1 td {
  border: 1px solid #B9B9B9;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
}

.headerCell {
  padding: 0;
  font-family: 'Pretendard-SemiBold', sans-serif;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
}

.headerCell2 {
  font-family: 'Pretendard-SemiBold', sans-serif;
  width: 150px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
}

.headerCell3 {
  font-family: 'Pretendard-SemiBold', sans-serif;
  width: 200px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
  text-align: center;
}

.headerCell4 {
  font-family: 'Pretendard-SemiBold', sans-serif;
  width: 130px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
  text-align: center;
}

.headerCell5 {
  font-family: 'Pretendard-SemiBold', sans-serif;
  width: 800px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
  text-align: center;
}

.trustCell {
  font-family: 'Pretendard-SemiBold', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentCell {
  width: 170px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.contentCell2 {
  width: 170px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.contentCell3 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textCell {
  padding: 15px 30px;
  width: fit-content;
}