@font-face {
    font-family: 'Pretendard-Regular';
    
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

* {
    font-family: 'Pretendard-Regular', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}