.header{
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--content-bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px 90px;
    min-width: 1000px;
    z-index: 1;
    transition: background-color 0.3s, border-color 0.3s;
}

.symbol {
    height: 40px;
    cursor: pointer;
}

.menu {
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--text-primary-color);
    cursor: pointer;
}

.btn1 {
    font-size: 16px;
    color: var(--accent-text-color);
    display: flex;
    height: 40px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    background: var(--accent-color);
    line-height: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn2 {
    font-size: 16px;
    display: flex;
    height: 40px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--accent-color);
    background: var(--content-bg-color);
    color: var(--accent-color);
    line-height: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.themeToggleButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}
