.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  transition: background-color 0.2s, color 0.2s;
}

.bannerCard {
  width: 100%;
  height: 150px;
  background-color: var(--content-bg-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary-color);
  margin-top: 20px;
  margin-bottom: none;
}

.container_wrap {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 1; /* 푸터 하단 고정을 위해 추가 */
}

.programContent {
  padding: 1.5rem;
} 

.programCard {
  flex: 1;
  min-width: none;
  background-color: var(--content-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 var(--shadow-color);
  border: 1px solid var(--border-color);
}

.programTable {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
}

.profileCard {
  background-color: var(--content-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--shadow-color);
  padding: 68px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 230px;
  border: 1px solid var(--border-color);
}

.tierIcon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tierImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.userInfo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userMajor {
  font-size: 16px;
  color: var(--text-secondary-color);
  margin: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}

.userName {
  font-size: 20px;
  color: var(--text-primary-color);
  margin: 4px 0 0 0;
  font-family: 'Pretendard-SemiBold', sans-serif;
}

.scoreLink {
  font-size: 16px;
  color: var(--text-primary-color);
  text-decoration: none;
  border: none;
  background: none;
  padding: 7px 10px;
  border-bottom: 1.5px solid var(--text-primary-color);
  cursor: pointer;
  font-family: 'Pretendard-Regular', sans-serif;
  transition: color 0.2s, border-color 0.2s, filter 0.2s;
}

.scoreLink:hover {
  filter: brightness(0.8);
}

.loadingWrapper {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 120px;           
  font-size: 16px;
  color: var(--text-primary-color);
}

/* 바로가기 */
.linkSection {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
  flex-wrap: nowrap;       
}

.linkCard {
  flex: 0 0 auto;
  width: 450px;                     
  height: 50px;
  background-color: var(--content-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--shadow-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--text-primary-color);
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 20px
}

.linkCard:hover {
  transform: translateY(-5px);
}